<div class="container">
<div class="shadow p-3 mb-5 bg-body rounded" style="margin: 100px 0px 80px 0px; padding: 11%">
  <div class="row">
    <div class="col-6">
      <img src="https://media.tenor.com/qiMsFYfPu-wAAAAi/anime-hello.gif" style="height: 65vh; width: 85%;">
    </div>
    <div class="col-6">
      <div class="container" style="margin: 25px">
        <h2 style="padding-top: 1%; text-align: center; margin-right: 20%;">Register</h2>
        <p style=" padding-bottom: 6%; text-align: center; margin-right: 20%;">Enter the valid E-mail address and the password!</p>
        <form action="">
          <div class="container">
            <p style="padding: 10px;">
              E-mail: <input type="text" name="email" placeholder="Email address" email required
                style="padding-right: 60px;margin-left: 80px; border:none; border-bottom:slategray solid 2px; outline: none;"></p>
            <p style="padding: 10px">
            Reconfirm E-mail: <input type="text" name="email" placeholder="Confirm email address" email required
                style="padding-right: 60px;margin-left: 5px; border:none; border-bottom:slategray solid 2px; outline: none;"></p>
                <p style="padding: 10px">
                  Password: <input type="text" name="email" placeholder="Password" required
                style="padding-right: 60px;margin-left: 55px;margin-bottom: 10px; border:none; border-bottom:slategray solid 2px; outline: none;"></p>
          </div>
          <div class="container">
            <p style="text-align: center;">
              <button class="btn btn-outline-dark" style="margin-top: 10px; margin-right: 20%;"> Register</button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>