<div class="container"> 
        <!-- <nav class="navbar navbar-expand-lg navbar-light text-muted">
                <ul class="nav navbar-nav float-left" routerLinkActive="active">
                         <li class="nav-item">   
                        <img class="ima" src="http://clipart-library.com/data_images/206118.jpg" alt="image">
                        <a class="btn" routerLink="/">myPortFolio</a></li>
                </ul>
                 <ul class="nav navbar-nav " style="margin-left: 70%" routerLinkActive="active">
                        <li class="nav-item"><a class=" btn" routerLink="/signin" style="margin: 5px;">Sign In</a></li>
                        <li class="nav-item"><a class="btn" routerLink="/signup"  style="margin: 5px">Sign Up</a> </li>
                </ul>
        </nav> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                  <a class="navbar-brand"  routerLink="/"><img class="img" src="../assets/img/notepad5.jpg" alt="image" style="height: 30px;">
                        myPortFolio</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 85%" routerLinkActive="active">
                      <li class="nav-item" >
                        <a class="nav-link" aria-current="signin" routerLink="/signin">Sign In</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" aria-current="signup" routerLink="/signup">Sign Up</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        <div class="container">
        <router-outlet></router-outlet>
        </div>
      </div>

