<div class="container"> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                  <a class="navbar-brand"  routerLink="/"><img class="img" src="../assets/img/notepad5.jpg" alt="image" style="height: 30px;">
                        myPortFolio</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 85%" routerLinkActive="active">
                      <li class="nav-item" >
                        <a class="nav-link" aria-current="signin" routerLink="/signin">Sign In</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" aria-current="signup" routerLink="/signup">Sign Up</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
        <router-outlet></router-outlet>
        

