<div class="shadow p-3 mb-5 bg-body rounded" style="margin-top: 5%;">
                <div class="img-fluid"
                    style="display: flexbox; margin: 100px 0px 60px 0px;  padding: 11%;background-size: cover; background-image: url(https://www.neoncreate.com/userfiles/images/Final%20stock%20images/man-working-cropped.jpg);">
                    <h1 style="color: aliceblue;margin-top: 30px;text-align: right">Hello There!</h1>
                    <h2 style="color: aliceblue;text-align: right">Welcome to myPortFolio</h2>
                    <p style="color: aliceblue;text-align: right">Easy way to create your amazing portfolio...</p>
                    <button type="button" class="btn btn-outline-info" style="float: right" routerLink="/signin">Check It Out</button>
                </div>
</div>
          