<div class="shadow p-3 mb-5 bg-body rounded" style="margin: 100px 0px 80px 0px; padding: 11%">
  <div class="row">
    <div class="col-7">
      <div class="container" style="margin: 10% 2%">
        <h2 style="text-align: center;padding-top: 1%">Login</h2>
        <p style="text-align: center; padding-bottom: 6%;">Enter the registered E-mail address and the password!</p>
        <form action="">
          <div class="container">
            <p style="text-align: center;padding-bottom: 20px">
              E-mail <input type="text" name="email" placeholder="Confirm email address" email required
                style="padding-right: 60px;margin-left: 35px; border:none; border-bottom:slategray solid 2px; outline: none;"></p>
          </div>
          <div class="container">
            <p style="text-align: center">
              Password <input type="text" name="email" placeholder="Password" required
                style="padding-right: 60px;margin-left: 15px; border:none; border-bottom:slategray solid 2px; outline: none;"> <br>
              <button class="btn btn-outline-dark" style="margin-top: 20px"> Login</button>
            </p>
          </div>
        </form>
      </div>
    </div>

    <div class="col-5">
      <img src="https://media.tenor.com/1G8D0kk1bMQAAAAi/anime-hello.gif" style="height: 65vh; width: 85%;">
      <!-- https://media.tenor.com/qiMsFYfPu-wAAAAi/anime-hello.gif -->
    </div>
  </div>
</div>

<!-- <div class="card-body shadow bg-body-rounded" style="height: 75vh; width: 65%; margin: 0 auto;">
      <div class="row">
        <div class="col-7" style="padding-left: 22%;">
          <h2 class="card-title" style="font-weight:bold; padding-bottom: 7%; padding-top: 10%;">Log In</h2>
          <i class="fa fa-user" aria-hidden="true" style="padding-left: -100px;"></i><input type="text" name="UserName"
            placeholder="Your Name" id="UserName"
            style="border:none; margin-bottom: 30px; border-bottom:slategray solid 2px;  padding-left: 20px; outline: none;">
          <br>
          <i class="fa fa-lock" aria-hidden="true" style="padding-left: -100px;"></i><input type="text"
            name="UserPassword" placeholder="Your Password" id="UserPassword"
            style="border:none; margin-bottom: 30px; border-bottom:slategray solid 2px;  padding-left: 20px; outline: none;">
          <br>
          <input type="checkbox" id="rememberMe" name="rememberMe"
            style="width: 4%; margin-bottom: 30px; margin-right: 5px; cursor: pointer;">Remember Me<br>

          <a href="#" class="btn btn-outline-dark" style="padding: 10px; margin-bottom: 40%; width: 110px;">Log
            In</a>

          <div class="loginButtons">Or login with
            <a href="#"><i class="fa fa-brands fa-facebook" style="color:#000000; padding: 5px;"></i></a>
            <a href="#"><i class="fa fa-brands fa-twitter" style="color:#000000; padding: 5px;"></i></a>
            <a href="#"><i class="fa fa-brands fa-google" style="color:#000000; padding: 5px;"></i></a>
          </div>

        </div>
        <div class="col-5 text-center" style="padding-right: 10%"><img src="../assets/img/login.svg" style="background-size: cover; height: 65vh; width: 100%;"> 
            <div><a href="signUpPage.html" style="color: black; " >Create an account</a></div>
          </div>
      </div>
      
    </div> -->